/*--------------------------------------------------------------
# Slider Section
--------------------------------------------------------------*/
.owl-stage-outer {
	padding: 10px;
}
#owl-demo .owl-item {
	margin: 0px 0px 0px -3px;
	display: flex;
	justify-content: space-around;
}
#owl-demo .item {
	width: 95%;
	height: 55rem;
	overflow: hidden;
	position: relative;
	box-shadow: 0px 0px 8px 1px #A6C1EE;
}
@media (max-width: 575px) {
	#owl-demo .item {
		width: 90%;
		height: 14rem;
		overflow: hidden;
		position: relative;
		box-shadow: 0px 0px 8px 1px #A6C1EE;
	}
}
#owl-demo .item img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: auto;
}
.owl-dots {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	gap: 5px;
	width: auto;
}

/* #sambutan .container { */
/* border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 60%); */
hr {
	border-top: 3px solid color-mix(in srgb, var(--default-color), transparent 50%);
}

/*--------------------------------------------------------------
# Sambutan Section
--------------------------------------------------------------*/
#sambutan .row {
	display: flex;
	flex: 1 0 auto;
}
.img-sambutan {
    border-radius: 50px 5px 10px 10px;
    box-shadow: 4px 4px 8px #7c7c7c;
    float: left;
    margin: 0em 2em 1em 0.2em;
	height: auto;
	width: 400px;
}

.widget-title {
	font-weight: 600;
}

@media (max-width: 575px) {
	.img-sambutan {
		width: 300px;
	}
	.widget-title {
		border-left: 3px solid var(--accent-color);
		border-radius: 52px 0px 0px 5px;
		padding: 0px 0px 0px 15px;
	}
}

#sambutan .container p {
	font-size: var(--fs-default);
}

/*--------------------------------------------------------------
# Layanan Rumah Sakit Section
--------------------------------------------------------------*/
.layanan {
	overflow: hidden;
}

.layanan .nav-tabs {
	border: 0;
}

.layanan .nav-link {
	border: 0;
	padding: 12px 15px 12px 0;
	transition: 0.3s;
	color: var(--default-color);
	border-radius: 0;
	border-right: 2px solid color-mix(in srgb, var(--default-color), transparent 90%);
	font-weight: 600;
	font-size: 15px;
}

.layanan .nav-link:hover {
	color: var(--accent-color);
}

.layanan .nav-link.active {
	color: var(--accent-color);
	border-color: var(--accent-color);
	background-color: var(--background-color);
}

.layanan .tab-pane.active {
	animation: fadeIn 0.5s ease-out;
}

.layanan .details h3 {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 20px;
}

.layanan .details p {
	color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.layanan .details p:last-child {
	margin-bottom: 0;
}

@media (max-width: 992px) {
	.layanan .nav-link {
		border: 0;
		padding: 15px;
	}

	.layanan .nav-link.active {
		color: var(--accent-color);
		background: var(--accent-color);
	}
}

/*--------------------------------------------------------------
# Doctors Section
--------------------------------------------------------------*/
.doctors .team-member {
	background-color: var(--surface-color);
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	position: relative;
	border-radius: 5px;
	transition: 0.5s;
	padding: 30px;
	height: 100%;
}

@media (max-width: 468px) {
	.doctors .team-member {
		flex-direction: column;
		justify-content: center !important;
		align-items: center !important;
	}
}

.doctors .team-member .pic {
	overflow: hidden;
	position: relative;;
	/* width: 150px; */
	height: 150px;
    width: 150px;
	border-radius: 50%;
	flex-shrink: 0;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.doctors .team-member .pic img {
	transition: ease-in-out 0.3s;
	position: absolute;
    width: 100%;
    height: auto;
}

.doctors .team-member:hover {
	transform: translateY(-10px);
}

.doctors .team-member .member-info {
	padding-left: 30px;
}

@media (max-width: 468px) {
	.doctors .team-member .member-info {
		padding: 30px 0 0 0;
		text-align: center;
	}
}

.doctors .team-member h4 {
	font-weight: 700;
	margin-bottom: 5px;
	font-size: 20px;
}

.doctors .team-member span {
	display: block;
	font-size: 15px;
	padding-bottom: 10px;
	position: relative;
	font-weight: 500;
}

.doctors .team-member span::after {
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 1px;
	background: color-mix(in srgb, var(--default-color), transparent 85%);
	bottom: 0;
	left: 0;
}

@media (max-width: 468px) {
	.doctors .team-member span::after {
		left: calc(50% - 25px);
	}
}

.doctors .team-member p {
	margin: 10px 0 0 0;
	font-size: 14px;
}

.doctors .team-member .social {
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
}

@media (max-width: 468px) {
	.doctors .team-member .social {
		justify-content: center;
	}
}

.doctors .team-member .social a {
	background: color-mix(in srgb, var(--default-color), transparent 94%);
	transition: ease-in-out 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	width: 36px;
	height: 36px;
}

.doctors .team-member .social a i {
	color: color-mix(in srgb, var(--default-color), transparent 20%);
	font-size: 16px;
	margin: 0 2px;
}

.doctors .team-member .social a:hover {
	background: var(--accent-color);
}

.doctors .team-member .social a:hover i {
	color: var(--contrast-color);
}

.doctors .team-member .social a+a {
	margin-left: 8px;
}
