.container-jadwal-poli-klinik {
	width: 93%;
}

.jadwal-poli-klinik .card {
	border-top: 5px solid var(--accent-color);
	border-radius: 10px 10px 5px 5px;
}

.jadwal-poli-klinik .card .container-button-search {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.jadwal-poli-klinik .card {
	/* display: grid; */
	/* gap: 1em; */
}

.jadwal-poli-klinik .card .container-input-search {
	display: grid;
	gap: 0.5em;
}

.jadwal-poli-klinik .card .title {
	display: grid;
	gap: 0.5em;
	/* background-color: var(--accent-color); */
	background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
	color: var(--contrast-color);
	padding: 0.7em 0em;
	font-weight: bolder;
}

.jadwal-poli-klinik .card .container-data-dokter {
	position: relative;
	display: flex;
	align-items: center;
	/* visibility: visible;
	animation-name: fadeIn;
	border-bottom: 2px dashed rgb(238, 238, 238);
	padding-bottom: 20px;
	padding-top: 20px; */
}

.jadwal-poli-klinik .card .container-data-dokter:not(:last-child)::before {
	/* content: "";
	border-top: 2px dashed color-mix(in srgb, var(--default-color), transparent 80%);
	position: absolute;
	left: 3em;
	right: 3em;
	z-index: 0; */


	content: "";
	border-top: 2px dashed color-mix(in srgb, var(--default-color), transparent 80%);
	position: absolute;
	left: 3em;
	right: 3em;
	bottom: 0px; /* Geser ke bawah */
	z-index: 0;

	/* top: 50%;
	transform: translateY(-50%); */
	/* display: flex;
	align-items: center; */
	/* visibility: visible;
	animation-name: fadeIn;
	border-bottom: 2px dashed rgb(238, 238, 238);
	padding-bottom: 20px;
	padding-top: 20px; */
}

/* .jadwal-poli-klinik .card .container-data-dokter {
	display: flex;
	align-items: center;
} */

.jadwal-poli-klinik .card .container-data-dokter .pic {
	overflow: hidden;
	position: relative;;
	/* width: 150px; */
	height: 150px;
	width: 150px;
	border-radius: 50%;
	flex-shrink: 0;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 575px) {
	.container-data-dokter{
		margin-top: 2.5em;
	}
}

/* .buttonload {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 12px 24px;
	font-size: 16px;
	margin: 25px;
} */

/* #btn-cari {
	font-weight: 900;
	position: relative;
}

#btn-cari::after {
	content: '';
	display: block;
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	left: calc(50% - 0.75em);
	top: calc(50% - 0.75em);
	border: 0.25em solid transparent;
	border-right-color: white;
	border-radius: 50%;
	animation: buttonAnim 0.6s linear infinite;
	opacity: 0;
}

#btn-cari.loading {
	color: transparent;
}

#btn-cari.loading::after {
	opacity: 1;
} */

/* em values are used to adjust button values such as padding, radius etc. based on font-size */