/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "@c-animation/app";

@import "@c-fonts/size";

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.fw-bolder {
	font-weight: bolder !important;
}

a.disabled {
	/* pointer-events: none; */
	cursor: pointer;
}

.pointer{
	cursor: pointer;
}

a.pointer {
	cursor: pointer;
}

.item-center {
	display: flex;
    align-items: center;
}

.hide {
	display: none !important;
}

.op-0 {
	opacity: 0;
}

.btn-loader {
	font-weight: 900;
	position: relative;
}

.btn-loader::after {
	content: '';
	display: block;
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	left: calc(50% - 0.75em);
	top: calc(50% - 0.75em);
	border: 0.25em solid transparent;
	border-right-color: white;
	border-radius: 50%;
	animation: buttonAnim 0.6s linear infinite;
	opacity: 0;
}

.btn-loader.loading {
	color: transparent;
}

.btn-loader.loading::after {
	opacity: 1;
}